apiVersion: apps/v1
kind: Deployment
metadata:
  name: db
  labels:
    app: db
    tier: storage
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
      tier: storage
  template:
    metadata:
      name: db
      labels:
        app: db
        tier: storage
    spec:
      containers:
        - name: postgres
          image: postgres:15-alpine
          ports:
            - containerPort: 5432
              name: postgres 
          env:
            - name: POSTGRES_USER
              value: "postgres"
            - name: POSTGRES_PASSWORD
              value: "postgres"