apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  labels:
    app: redis
    tier: storage
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
      tier: storage
  template:
    metadata:
      name: redis
      labels:
        app: redis
        tier: storage
    spec:
      containers:
        - name: redis
          image: redis:alpine
          ports:
            - containerPort: 6379
              name: redis
