apiVersion: apps/v1
kind: Deployment
metadata:
  name: result-deployment
  labels:
    app: result-app
    tier: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: result-app
      tier: frontend
  template:
    metadata:
      name: result-app
      labels:
        app: result-app
        tier: frontend
    spec:
      containers:
        - name: result
          image: dockersamples/examplevotingapp_result
          ports:
            - containerPort: 80
              name: result-port
