apiVersion: apps/v1
kind: Deployment
metadata:
  name: vote-deployment
  labels:
    app: voting-app
    tier: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: voting-app
      tier: frontend
  template:
    metadata:
      name: voting-app
      labels:
        app: voting-app
        tier: frontend
    spec:
      containers:
        - name: vote
          image: dockersamples/examplevotingapp_vote
          ports:
            - containerPort: 80
              name: vote
