apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker-deployment
  labels:
    app: worker-app
    tier: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker-app
      tier: backend
  template:
    metadata:
      name: worker-app  
      labels:
        app: worker-app
        tier: backend
    spec:
      containers:
        - name: worker
          image: dockersamples/examplevotingapp_worker
